@CHARSET "UTF-8";

#types li {
	margin-bottom:1em;
}

#types span {
	margin-right:1em;
}

#types span a {
	vertical-align:bottom;
}

#articles > table {
	width:100%;
}

#articles > p:last-child {
	text-align:center;
}

#articles > p:last-child > span {
	margin:0em 1em;
}

#articles > table th:nth-child(2) {
	width:300px;
}

#articles > table td:nth-child(2) {
	max-width:300px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
