@CHARSET "UTF-8";

#albums li {
	margin-bottom:1em;
}

.photo {
	position:relative;
	float:left;
	height:300px;
	margin-left:.5em;
	margin-right:。5em;
}

.photo img {
	display:block;
	height:60%;
	border-radius:2px;
}

.photo p {
	position:absolute;
	font-size:small;
	height:20%;
	overflow:hidden;
}

.photo span {
	position:relative;
	top:5em;
	display:block;
	float:right;
}

#photos p:last-child {
	clear:both;
	text-align:center;
}

#photos p:last-child span {
	margin: 0em 1em;
}
