@CHARSET "UTF-8";

.edit_article_type, .delete_article_type, .edit_article, .delete_article, 
#types input[type=submit], #types input[type=button] {
	font-size:12px;
	color:black;
	text-decoration:none;
	cursor:default;
	padding:2px 7px;
	border:1px solid #666;
	border-radius:1px;
	background-color:buttonface;
}

#types li {
	margin-bottom:1em;
}

#types li:nth-child(even) {
	display:none;
} 

#types input[type=text] {
	width:120px;
}

#types span {
	margin-right:1em;
}

#types span a {
	vertical-align:bottom;
}

#types > form > input:first-child {
	width:120px;
}

#articles > table {
	width:100%;
}

#articles > table tr:nth-child(odd):not(:first-child) {
	display:none;
} 

#articles > p:last-child {
	text-align:center;
}

#articles > p:last-child > span {
	margin:0em 1em;
}

#articles > table th:nth-child(2) {
	width:240px;
}

#articles > table td:nth-child(2) {
	max-width:240px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
