@CHARSET "UTF-8";

body {
	width:960px;
	margin:auto;
}

#types, #albums, #article_type {
	float:left;
	width:25%;
	clear:both;
}

#articles, #photos, #edit_article {
	margin-left:30%;
	clear:right;
}

#files, #hyperlinks, #change_password {
	clear:both;
	width:100%;
}
