@CHARSET "UTF-8";

.edit_album, .delete_album {
	font-size:12px;
	color:black;
	text-decoration:none;
	cursor:default;
	padding:2px 7px;
	border:1px solid #666;
	border-radius:1px;
	background-color:buttonface;
}

#albums li {
	margin-bottom:1em;
}

#albums a:first-child {
	margin-right:1em;
	vertical-align:bottom;
}


#albums > form > input:first-child {
	width:120px;
}